#!/bin/bash

# put your own keys and base ID below
# these are not real! do not check in your own keys!
export OMDB_API_KEY='7d64482f'
export AIRTABLE_API_KEY='keyFXtjybHE9L6wSw'
export AIRTABLE_BASE_MOVIES='appFXtjybHE9L6wSw'
